<div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Записаться на прием</h3>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class = 'frame my-4'>
    <div class = 'container'>
        <form method="post">
            <div class="form-group">
				<label>Ваше имя:</label>
                <input class="form-control" name="firstname" type="text" required/>
                <label>Ваша фамилия:</label>
                <input class="form-control" name="secondname" type="text" required/>
                <label>Ваше отчество (необязательно):</label>
                <input class="form-control" name="middlename" type="text" />
                <label>Ваша почта:</label>
                <input class="form-control" name="email" type="email" required/>
                <label>Ваш номер телефона:</label>
                <input class="form-control" name="phone" type="text" required/>
                <label>Дата записи:</label>
                <input class="form-control" name="date" type="date" required/>
                <div class ="text-center my-4">
                    <button type="submit" class="btn btn-secondary">Записаться</button>
                </div>
            </div>
        </form>
    </div>
</div>